.background nav .collapse{
    padding-top: 1px;
    padding-bottom: 1px;
}
nav ul li {
font-size: 110%;
padding-right: 40px;
}
nav a img{
    width: 60px;
    padding-top: 25px;
}

.background{
    background-image: url(../img/about.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* width: 20%;
    height: 20%; */
    width: auto;
    height: 100px;
}

#card-img{
    margin-top:50px;
    margin-bottom:50px;
}
 .content{
     margin-top:50px;
     margin-bottom:50px;
    
    background-color: #192730;
}
.body{
    padding-top:20px;
    padding-bottom:30px;
}



footer{
    background-color: #17252E;
}
footer .collapse{
    margin-top: -7  px;
}
footer nav a img{
    margin-top: -20px;
}

@media(max-width:700px){
.imgAbout img{
    width: 1px;
    height: 1px;
}
nav a img{
    margin-top: -20px;
}
}

