{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/sign-up.css' %}">

</head>
<!-- end head -->

<body>

    <div class="sign">

        <div class="container">
            <div class="row">

                <!-- form -->

                <form class="bg col-lg-6" action ="register" method="POST" >
                    {% csrf_token %}  
                    <p class="firstP">Welcome <br>In Science Video</p>
                    <div class="form-group">
                        <label>first name</label>
                        <input class="form-control" name='first_name' placeholder="Enter firstname" required>
                    </div>
                    <div class="form-group">
                        <label>last name</label>
                        <input class="form-control" name='last_name' placeholder="Enter lastname" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" name='email' placeholder="Enter Your Email" required>
                    </div>
                    <div class="form-group">
                        <label>User name</label>
                        <input class="form-control" name='username' placeholder="Enter your user name"required>
                    </div>
                    <div class="form-group">
                        <label>date of birth </label>
                        <input class="form-control" name='dateofbirth' type="date" placeholder="Enter Your Address" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label> 
                        <input class="form-control" name='psw'type="password" placeholder="Enter Password"  required> 
                    </div>
                    <div class="form-group">
                    <label>Re-type Password</label>  
                    <input class="form-control" name='psw_repeat'type="password" placeholder="Retype Password"  required> 
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input class="form-control" name='phone_number' placeholder="Enter Number" required>
                    </div>
                    <div class="form-group">
                        <label>gender</label>
                        <input class="form-control" name='gender' placeholder="Enter gender" required>
                    </div>
                    
                    
                    

                    
                    
                        
                        
                        <a href="{% url 'login' %}" class="a_account"> login</a>
                    
                    <button class="btn btn-dark">submit</button>
                    {% comment %} <button type="submit"class='registerbtn'>submit</button>  {% endcomment %}
                    
                    
                </form>
                <!-- background -->

                <div class="bg col-lg-6">
                </div>
            </div>


        </div>
        <div>
            {%for message in messages%} <!--عشان نطلع مسج لليوزر بالايرور-->>
            <h2 style= "color: black;">
                {{ message }}
        
            </h2>
            {%endfor %}
        </div>
</body>

</html>