{% load static %}
<div class="col-lg-4">
    <img src="{% static 'img/d9.jpg' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/d1.jpg' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/d2.jpg' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/d3.jpg' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/d4.jpg' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/d5.jpg' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/d6.jpg' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/d7.jpg' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/d8.jpg' %}">
    <p>hgdsfsd</p>
</div>