{% load static %}
<div class="col-lg-4">
    <img src="{% static 'img/51748959_1150302791814382_842419390858133504_n.jpg' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/maxresdefault (1).jpg' %}">
    <p>hgdsfsd</p>
</div>

<div class="col-lg-4">
    <img src="{% static 'img/maxresdefault (2).jpg' %}">
    <p>hgdsfsd</p>
</div>

<div class="col-lg-4">
    <img src="{% static 'img/maxresdefault (3).jpg' %}">
    <p>hgdsfsd</p>
</div>

<div class="col-lg-4">
    <img src="{% static 'img/maxresdefault (4).jpg' %}">
    <p>hgdsfsd</p>
</div>

<div class="col-lg-4">
    <img src="{% static 'img/maxresdefault (5).jpg' %}">
    <p>hgdsfsd</p>
</div>

<div class="col-lg-4">
    <img src="{% static 'img/maxresdefault (6).jpg' %}">
    <p>hgdsfsd</p>

</div>

<div class="col-lg-4">
    <img src="{% static 'img/maxresdefault.jpg' %}">
    <p>hgdsfsd</p>

</div>

<div class="col-lg-4">
    <img src="{% static 'img/main-qimg-a829567478e9d48e6ce4a277707b5b44-lq.jfif' %}">
    <p>hgdsfsd</p>


</div>