{% load static %}
<div class="col-lg-4">
    <img src="{% static 'img/s1.jpg' %}">
    <p>hgdsfsd</p>
</div>

<div class="col-lg-4">
    <img src="{% static 'img/s2.jpg' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/s3.jpg' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/s4.jpg' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/s5.jpg' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/s6.jfif' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/s7.jfif' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/s8.jpg' %}">
    <p>hgdsfsd</p>
</div>
<div class="col-lg-4">
    <img src="{% static 'img/s9.jpg' %}">
    <p>hgdsfsd</p>
</div>

